<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="contentinfo">
        <p><small>Made at <a href="http://udemy.com" target="_blank">Udemy.com</a></small></p>
      </footer>
    </div>
  </div>
</div>